
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Segoe UI", "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: normal;
    
   
}



.h1s { 
    font-weight: 600;
    font-size: 34px;
    line-height: 45px;}

.h2r { 
    font-weight: 400;
    font-size: 27px;
    line-height: 36px;}

.h2s { 
    font-weight: 600;
    font-size: 27px;
    line-height: 36px;}

.h3r { 
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;}
    
.h3s { 
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;}

.h4r { 
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;}
        
.h4s { 
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;}

.h5r { 
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;}
            
.h5s { 
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;}

.h6r { 
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;}
                
.h6s { 
    font-weight: 600;
    font-size: 11px;
    line-height: 15px}

.top{
display: flex;
flex-direction: row;
align-items: center;
background: #FDC300;
justify-content: space-between;
padding: 10px 70px 10px 70px;
}

.ul-menu-1{
display: flex;
flex-direction: row;
align-items: center;
list-style: none;
gap: 20px;

}

.li-menu-1{
    cursor: pointer;
    color: #33302A;
    transition: all 0.3s ease;
}

.li-menu-1:hover{
    color: rgb(248, 248, 248);
    text-shadow: 1px 1px 3px #33302A;
}

.bnt-top {
    border-radius: 50px;
    padding: 5px 8px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:7px 7px 20px 0px #0002;
}

.bnt-top:hover {
    background-color: #33302A;
    color: rgb(248, 248, 248);
    box-shadow:
    -7px -7px 20px 0px rgba(255, 127, 127, 0.6),
    -4px -4px 5px 0px rgba(255, 93, 93, 0.6),
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
 }


 .bnt-top2{
    border-radius: 50px;
    padding: 5px 8px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:7px 7px 20px 0px #0002;
}

.bnt-top2:hover {
    background-color: #33302A;
    color: rgb(248, 248, 248);
    box-shadow:
    -7px -7px 20px 0px rgba(255, 127, 127, 0.6),
    -4px -4px 5px 0px rgba(255, 93, 93, 0.6),
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
 }


 .bnt-top2{
    display: none;
 }
 .mobile-menu{
    cursor: pointer;
    display: none;
 }

 .mobile-menu div{
    width: 32px;
    height: 4px;
    background: #fff;
    margin: 6px;
    transition: 0.3s;
    border-radius: 5px;
 }



 @media (max-width: 999px){
    .bnt-top2{
        display:inline;
    }

    body{
        overflow-x: hidden;
    }

    .ul-menu-1{
        position: absolute;
        top: 5rem;
        right: 0;
        width: 30vh;
        height: 50vh;
        background: #FDC300;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
        flex-direction: column;
        border-radius:30px 0px 0px 30px ;
        padding-top: 50px;
        display: none;
    }
  
    .li-menu-1 {
        flex-direction: column;
        justify-items: center;
        text-align: center;
        opacity: 0;
        margin: 20px;
    }

    .li-menu-1:last-child{
        display: none;
    }

    .mobile-menu  {
        display: block;
     }
     .ul-menu-1.active{
        display: block;
        transform: translateY(0);
     }

     @keyframes navLinkFade {
        from{
        opacity: 0;
        transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
     }

     .mobile-menu.active .line-1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line-2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line-3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
 }
 

 

 .um{
    text-align: center;
    margin: 20px 200px 0px 200px;
    
 }

 @media (max-width: 700px){

    .um{
        text-align: center;
        margin: 20px 50px 0px 50px;
    }
    .um h2 {
        
        font-size: 20px;
        text-align: center;
        margin: 0;
     }

     .top{
        padding: 8px 20px 8px 20px;
     }
 }

 .ul-cards{
display: flex;
align-items: center;
flex-direction: row;
gap: 20px;
justify-content:center;
margin: 20px;
list-style: none;
text-align: center; 
flex-wrap: wrap;

}

.li-cards{
    flex-shrink: 2;
    cursor: pointer;
    background: #FDC300;
    border-radius: 10px ;
    padding-bottom: 5px;
    transition: all 0.3s linear;
}
.li-cards:hover{
    cursor: pointer;
    background: #000000;
    border-radius: 10px ;
    padding-bottom: 5px;
    color: #fff;
}

.dois{
    text-align: center;
    margin: 40px 250px 50px 250px;
 }

 .ul-quem-somos{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    justify-content:center;
    margin: 30px 0px 30px 0px;
    list-style: none;
    text-align: center; 
    flex-wrap: wrap;
    }

    .li-quem-somos{
        width: 400px;
    }

    .h5r2{
        text-align: justify; 
    }

    @media (max-width: 700px){
        .dois{
            text-align: center;
            margin: 40px 50px 50px 50px;
         }
    }

    .tres{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color: #FFEEE1;
     }

.emergencia{  
    width: 80vh;
    text-align:justify center;
    text-align: center;
    padding: 30px;
}



.bnte {
    
    background-color: #FDC300;
    border-radius: 50px;
    padding: 5px 8px;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow:7px 7px 20px 0px #0002;
    margin: 10px;
}

.bnte:hover {
    background-color: #ffffff;
    color:  #33302A;
    box-shadow:
    -7px -7px 20px 0px rgba(255, 127, 127, 0.6),
    -4px -4px 5px 0px rgba(255, 93, 93, 0.6),
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
 }

 @media (max-width: 600px){
    .tres img{
        width: 350px;
    }
 }

 .quatro{
    text-align: center;
    margin: 30px;
    
 }
.ul-recem-resgatados{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content:center;
    margin: 50px;
    list-style: none;
    overflow-x: auto;
    max-height: 300px;
    margin-right: 50px;
    overscroll-behavior-inline:contain ;
}

.ul-recem-resgatados::-webkit-scrollbar{
width: 0;
}



.li-recem-resgatados{
cursor: pointer;
}

.cinco{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    background-color:#E9E1D9;
    padding: 40px;
     }
   
     

     .Rifa{
        width:100vh;
    text-align:justify center;
    text-align: center;
   
    }

    .bntr {
        background-color: #FDC300;
        border-radius: 50px;
        padding: 5px 8px;
        border: 0px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow:7px 7px 20px 0px #0002;
        margin: 10px;
    }
    
    .bntr:hover {
        background-color: #ffffff;
        color:  #33302A;
        box-shadow:
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
     }

.footer{
display: flex;
flex-direction: row;
align-items: center;
background: #FDC300;
justify-content: space-between;
padding: 10px 70px 10px 70px;
}

.ul-menu-2{
    
    align-items: center;
    list-style: none;
    gap: 20px;
    
    }
    
    .li-menu-2{
        cursor: pointer;
        color: #33302A;
        transition: all 0.3s ease;
        padding: 5px;
    }
    
    .li-menu-2:hover{
        color: rgb(248, 248, 248);
        text-shadow: 1px 1px 3px #33302A;
    }
    

.ul-menu-2-contato{
    list-style: none;
   text-align: center;
}

.li-menu-2-contato{
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.li-menu-2-contato:hover{
    color: rgb(248, 248, 248);
    text-shadow: 1px 1px 3px #33302A;
}

.ul-menu-2-redes{
    list-style: none;
    text-align: center;
    
}

.reds{
    display: flex;
   gap: 20px;
   
}

.li-menu-2-redes{
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 20px 0px 0px 0px;
    
}

.li-menu-2-redes:hover{
    color: rgb(248, 248, 248);
    text-shadow: 1px 1px 3px #33302A;
}

@media (max-width: 999px){
    .reds{
        display: flex;
        flex-direction: column;
       gap: 5px;
    }  
}

@media (max-width: 700px){
    .reds{
        display: flex;
        flex-direction: column;
        
  
    }  
    .li-menu-2-redes img{
        max-width: 30px;
    }

    .ul-menu-2-contato{
        display: none;
    }

 .footer h4 , .ul-menu-2-redes h3,.ul-menu-2-redes h5 {
font-size: small;
    }
}
